section.slider-screen
  .container
    .slider-screen__slider
      .slide.slide-1
        p.slide__title Долго, дорого,<br> скрупулезно.
        p.slide__description Математически выверенный дизайн<br> для вашего сайта или мобильного приложения.
        a(href="#" class="button-standart") Узнать больше
      .slide.slide-2
        p.slide__title Любим математику<br> как никто другой
        p.slide__description Никакого креатива, только математические формулы<br> для расчета идеальных пропорций
        a(href="#" class="button-standart") Узнать больше
      .slide.slide-3
        p.slide__title Только ночь,<br> только хардкор
        p.slide__description Работать днем, как все? Мы против этого.<br> Ближе к полуночи работа только начинается.
        a(href="#" class="button-standart") Узнать больше
