.slider-screen {
  background-color: $background-color;
}

.slider-screen__slider {
  position: relative;
}

.slider-screen__slider .slick-list {
  overflow: hidden;
}

.slider-screen__slider .slick-track {
  display: flex;
}

.slick-dots {
  position: absolute;
  bottom: 95px;
  left: 50%;
  margin: 0 auto;
  padding: 0;
  transform: translate(-50%);
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin-right: 17px;
}

.slick-dots li:last-child {
  margin-right: 0;
}

.slick-dots button {
  position: relative;
  z-index: 1;
  width: 18px;
  height: 18px;
  font-size: 0;
  background-color: $text-color-light;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slick-active::before {
  position: absolute;
  top: 9px;
  left: 4px;
  z-index: 2;
  width: 6px;
  height: 6px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  content: "";
}

.slide {
  box-sizing: border-box;
  height: 431px;
  padding-top: 80px;
}

.slide__title {
  margin-top: 0;
  margin-bottom: 24px;
  padding: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slide__description {
  margin-top: 0;
  margin-bottom: 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.slide-1 {
  background-image: url("../img/photo/nerds-index-slide1.webp");
  background-repeat: no-repeat;
  background-position: right;
}

.slide-2 {
  background-image: url("../img/photo/nerds-index-slide2.webp");
  background-repeat: no-repeat;
  background-position: right;
}

.slide-3 {
  background-image: url("../img/photo/nerds-index-slide3.webp");
  background-repeat: no-repeat;
  background-position: right;
}
