section.services-screen
  .container
    .services-screen__grid
      .services-screen__item
        .services-screen__illustation
          <picture>
            <source srcset="img/photo/services-screen-1.avif" type="image/avif">
            <source srcset="img/photo/services-screen-1.webp" type="image/webp">
            <source srcset="img/photo/services-screen-1.png" type="image/png">
            <img src="img/photo/services-screen-1.png" alt="Услуга веб-сайты">
          </picture>
        .services-screen__info
          h2.services-screen__item-title Веб-сайты
          p.services-screen__item-description
            | Мир никогда не будет прежним после того как увидит ваш сайт!
          button.button-standart.button--services Заказать
      .services-screen__item
        .services-screen__illustation
          <picture>
            <source srcset="img/photo/services-screen-2.avif" type="image/avif">
            <source srcset="img/photo/services-screen-2.webp" type="image/webp">
            <source srcset="img/photo/services-screen-2.png" type="image/png">
            <img src="img/photo/services-screen-2.png" alt="Услуга веб-сайты">
          </picture>
        .services-screen__info
          h2.services-screen__item-title Приложения
          p.services-screen__item-description
            | Покорите топ-10 приложений<br> в AppStore и Google Play
          button.button--app.button-standart.button--services Заказать
      .services-screen__item
        .services-screen__illustation
          <picture>
            <source srcset="img/photo/services-screen-3.avif" type="image/avif">
            <source srcset="img/photo/services-screen-3.webp" type="image/webp">
            <source srcset="img/photo/services-screen-3.png" type="image/png">
            <img src="img/photo/services-screen-3.png" alt="Услуга веб-сайты">
          </picture>
        .services-screen__info
          h2.services-screen__item-title Презентации
          p.services-screen__item-description
            | Вы даже не подозреваете, насколько вы изумительны!
          button.button-standart.button--services.button--presentation Заказать
