.catalog-filter
  form(class="filter" action="https://echo.htmlacademy.ru", method="get")
    fieldset.catalog-filter__fieldset
     legend.catalog-filter__legend Стоимость:
    fieldset.catalog-filter__fieldset
     legend.catalog-filter__legend Сетка:
     ul.catalog-filter__grid-radio
      li
        input(class="filter-input-radio" type="radio", name="grid-group" value="adaptive" id="filter-adaptive" checked)
        label(class="filter-label-radio" for="filter-adaptive") Адаптивная
      li
        input(class="filter-input-radio" type="radio", name="grid-group" value="fixed" id="filter-fixed")
        label(class="filter-label-radio" for="filter-fixed") Фиксированная
      li
        input(class="filter-input-radio" type="radio", name="grid-group" value="elastic" id="filter-elastic")
        label(class="filter-label-radio" for="filter-elastic") Резиновая
    fieldset.catalog-filter__fieldset
     legend.catalog-filter__legend Особенности:
     ul.catalog-filter__feature-list
        li
          input(class="filter-input-checkbox" type="checkbox", name="slider" id="filter-slider" checked)
          label(class="filter-label-checkbox" for="filter-slider") Слайдер
        li
          input(class="filter-input-checkbox" type="checkbox", name="features" id="filter-features")
          label(class="filter-label-checkbox" for="filter-features") Блок преимуществ
        li
          input(class="filter-input-checkbox" type="checkbox", name="news" id="filter-news" checked)
          label(class="filter-label-checkbox" for="filter-news") Новости
        li
          input(class="filter-input-checkbox" type="checkbox", name="gallery" id="filter-gallery")
          label(class="filter-label-checkbox" for="filter-gallery") Галерея
        li
          input(class="filter-input-checkbox" type="checkbox", name="shoping-cart" id="filter-shoping-cart")
          label(class="filter-label-checkbox" for="filter-shoping-cart") Корзина
    button(class="button filter-button" type="submit") Показать
