.catalog-filter
  form(class="filter" action="https://echo.htmlacademy.ru", method="get")
    fieldset.catalog-filter__fieldset
     legend.catalog-filter__legend Стоимость:
    fieldset.catalog-filter__fieldset
     legend.catalog-filter__legend Сетка:
    fieldset.catalog-filter__fieldset
     legend.catalog-filter__legend Особенности:
