extends catalog-card-template.pug

block vars
  - var cardName = 'mishka' //- Название шаблона
  - var cardLegend = 'Сайта мастерской игрушек ручной работы' //- Описание шаблона
  - var cardPrice = '12 900' //- Цена шаблона

block imagePath
  <picture>
    <source srcset="img/photo/card-images/mishka-card.avif" type="image/avif">
    <source srcset="img/photo/card-images/mishka-card.webp" type="image/webp">
    <source srcset="img/photo/card-images/mishka-card.jpg" type="image/jpg">
    <img src="img/photo/card-images/mishka-card.jpg" alt="Шаблон барбершопа">
  </picture>
