footer.footer
  include ../map/map.pug
  .container
    .footer__grid
      .footer__social-icons
        a(class="social-link", href="#")
          img(class="vk-link", src="../img/icons/vk-icon.svg", alt="Иконка VK")
        a(class="social-link", href="#")
          img(class="fb-link", src="../img/icons/fb-icon.svg", alt="Иконка FB")
        a(class="social-link", href="#")
          img(class="insta-link", src="../img/icons/insta-icon.svg", alt="Иконка Instagram")
      .footer__legend
        p.legend-title Давайте дружить, это выгодно!
        p.legend-offer Скидка 10% для друзей из социальных сетей.

