extends ../layout.pug

//- Переопредделение переменных шаблона layout.pug для страницы index.html
block vars
  - var headTitle  = 'Магазин готовых шаблонов'; //- Title
  - var bodyClass = 'catalog-page' //- Классы для body

block content

block main
  main
