extends ../layout.pug

//- Переопредделение переменных шаблона layout.pug для страницы index.html
block vars
  - var headTitle  = 'Nёrds — дизайн-студия из Краснодара'; //- Title
  - var bodyClass = 'index-page' //- Классы для body

block content

block main
  main
    h1.visually-hidden Nёrds — дизайн-студия из Краснодара
    include ../blocks/slider-screen/slider-screen.pug

block scripts
  script(src="js/slick.min.js")
  script(src="js/slider-screen.min.js")
