extends ../layout.pug

//- Переопредделение переменных шаблона layout.pug для страницы index.html
block vars
  - var headTitle  = 'Заголовок страницы'; //- Title
  - var bodyClass = 'index-page' //- Классы для body

block content

block main
  main
