@import "variables";
@import "fonts/roboto.scss";
@import "blocks/header/header.scss";
@import "blocks/slider-screen/slider-screen.scss";

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button-standart {
  padding: 15px 55px;
  color: $text-color-light;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $button-background;
  border-radius: 3px;

  &:hover {
    background-color: $link-hover-color;
  }
}
