$background-color: #eee;

$text-color: #000;
$text-color-dark: #283136;
$text-color-light: #fff;

$button-background: #fb565a;
$button-hover-red: #e74246;
$button-focus-red: #d7373b;

$button-background-green: #00ca74;
$button-hover-green: #00bc6c;
$button-focus-green: #00aa62;

$button-background-yellow: #efc849;
$button-hover-yellow: #eab534;
$button-focus-yellow: #e5a722;

$link-focus-color: #d9d9d9;

$desktop-width: 1200px;
$table-width: 1000px;
$mobile-width: 650px;
