.about__grid {
    display: grid;
    grid-template-columns: auto 360px;
    justify-content: space-between;
}

.about__info {
    padding-right: 2em;
}

.about__info h2 {
    font-size: 45px;
    line-height: 45px;
    margin-top: 0;
    color: $black_text_color;
}

.about__info p {
    font-size: 1em;
    line-height: 24px;
    color: $dark_text_color;
    margin-bottom: 52px;
}

.about__info h3 {
    font-size: 1em;
    font-weight: bold;
    color: $dark_text_color;
    text-transform: uppercase;
    margin-top: 0;
}

.about__info ul {
    padding-left: 0;
}

.about__info ul li {
    list-style: none;
    line-height: 36px;
}

.about__info ul li::before {
    content: "—";
    color: $light-red_color;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 12px;
}

.about__numbers_title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.about__numbers-grid {
    display: grid;
    grid-template-columns: 106px 106px 106px;
    justify-content: space-between;
}

.about__numbers-item .numbers {
    display: inline-block;
    font-size: 45px;
    font-weight: bold;
    margin: 0;
}

.about__numbers-item span {
    vertical-align: top;
    font-size: 26px;
    font-weight: bold;
}

.numbers-description {
    line-height: 18px;
    color: $dark_text_color;
}

/* Adaptation */

@media (max-width: 920px) {
    .about__grid {
        display: inherit;
    }

    .about__info {
        text-align: center;
        padding-right: 0;
    }

    .about__info p {
        margin-bottom: 2em;
    }

    .about__illustration {
        text-align: center;
    }

    .about__numbers-grid {
        justify-content: space-around;
    }

    .about__numbers_title {
        margin-bottom: 2em;
    }

    .about__numbers-item {
        text-align: center;
    }
}

@media (max-width: 420px) {

    .about__illustration img {
        width: 280px;
    }

    .about__numbers-grid {
        display: inherit;
    }

    .about__numbers {
        margin-top: 2em;
    }

    .about__numbers_title {
        margin-bottom: 1em;
    }

    .numbers-description {
        margin: 0;
    }

    .about__numbers-item {
        margin: 2em;
    }
}