.footer {
    padding-top: 80px;
}

.footer__contact-block {
    height: 300px;
    width: 320px;
    background-color: #ffffff;
    position: absolute;
    margin-top: 56px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-info p {
    width: 218px;
    text-align: left;
}

.contact-info .name {
    margin-bottom: 1em;
}

.footer__contact-block button {
    margin-top: 1.5em;
    padding: 1em 44px;
}

.footer__contact-block .name {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer__contact-block .address, .footer__contact-block .phone {
    width: 210px;
    color: $dark_text_color;
}

.footer__info {
    padding: 70px 0;
    display: grid;
    grid-template-columns: 400px auto;
}

.social-icons-block {
    display: flex;
    gap: 1em;
}

.social-icons-block a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: #e1e1e1;
    transition: all ease-out 0.8s;
    -webkit-transition: all ease-out 0.8s;
    &:hover {
        background-color: $red_color;
    }
    &:active {
        background-color: $dark-red_color;
    }
}

.social-icons-block .vk-link:active .vk-icon {
    opacity: 20%;
}

.social-icons-block .fb-link:active .fb-icon {
    opacity: 20%;
}

.social-icons-block .insta-link:active .insta-icon {
    opacity: 20%;
}

.slogan-block {
    display: block;
}

.footer__slogan {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.footer__offer {
    color: $dark_text_color;
}


/* Adaptation */

@media (max-width: 768px) {
    .footer__info {
        grid-template-columns: auto;
    }

    .social-icons-block {
        justify-content: center;
    }

    .slogan-block {
        text-align: center;
        margin-top: 2em;
    }
}

@media (max-width: 320px) {

}