.partners {
    padding: 60px 0;
    border-bottom: 2px solid $light-gray_background_color;
}

.partners__grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.partners__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid $light-gray_background_color;
}

.partners__logo img {
    opacity: 20%;
    transition: all ease-out 0.8s;
    -webkit-transition: all ease-out 0.8s;
    &:hover {
        opacity: 100%;
    }
    &:active {
        opacity: 10%
    }
}

.partners__logo:last-child {
    border-right: none;
}

/* Adaptation */

@media (max-width: 1024px) {
    .partners__grid {
        grid-template-columns: auto auto;
    }

    .partners__logo:nth-child(2),.partners__logo:last-child {
        border-right: none;
    }

    .partners__logo {
        padding-bottom: 2em;
    }

    .partners__logo:last-child, .partners__logo:nth-child(3){
        padding-bottom: 0;
    }

    .partners__logo img {
        opacity: 100%;
    }
}

@media (max-width: 665px) {
    .partners__grid {
        display: inherit;
    }

    .partners__logo {
        border-right: none;
    }

    .partners__logo {
        padding: 2em 0;
    }

    .partners__logo:last-child, .partners__logo:nth-child(3){
        padding-bottom: 2em;
    }
}

@media (max-width: 320px) {
    
}