.partners {
    padding: 60px 0;
    border-bottom: 2px solid $light-gray_background_color;
}

.partners__grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.partners__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid $light-gray_background_color;
}

.partners__logo img {
    opacity: 20%;
    transition: all ease-out 0.8s;
    -webkit-transition: all ease-out 0.8s;
    &:hover {
        opacity: 100%;
    }
    &:active {
        opacity: 10%
    }
}

.partners__logo:last-child {
    border-right: none;
}