@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import "normalize";
@import "fonts";
@import "vars";

@import "header";
@import "carousel-screen";
@import "services";
@import "about";
@import "partners";

body {
    font-family: 'Roboto-Regular', sans-serif;
}

.container {
    max-width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.services__grid, .about__grid {
    padding: 80px 0;
    border-bottom: 2px solid $light-gray_background_color;
}

.button_standart {
    padding: 1em 52px;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    background-color: $light-red_color;
    text-decoration: none;
    &:hover {
        background-color: $red_color;
        transition-duration: 0.3s;
    }
    &:active {
        background-color: $dark-red_color;
        transition-duration: 0.3s;
    }
}

.green-button {
    background-color: $light-green_color;
    &:hover {
        background-color: $green_color;
        transition-duration: 0.3s;
    }
    &:active {
        background-color: $dark-green_color;
        transition-duration: 0.3s;
    }
}

.yellow-button {
    background-color: $light-yellow_color;
    &:hover {
        background-color: $yellow_color;
        transition-duration: 0.3s;
    }
    &:active {
        background-color: $dark-yellow_color;
        transition-duration: 0.3s;
    }
}