$dark_text_color: #283136;
$black_text_color: #000000;

$light-red_color: #FB565A;
$red_color: #E74246;
$dark-red_color: #D7373B;

$light-green_color: #00CA74;
$green_color: #00BC6C;
$dark-green_color: #00AA62;

$light-yellow_color: #EFC84A;
$yellow_color: #EAB534;
$dark-yellow_color: #E5A722;

$light-gray_background_color: #EEEEEE;
$gray_background_color: #DFDFDF;
$dark_background_color: #D5D5D5;