section.portfolio-screen
  h2.visually-hidden Наши работы
  .container
    .portfolio__grid
      .portfolio__item
        a(href="#", class="portfolio__link html-academy-logo")
          img(src="img/photo/academy.svg", alt="Логотип HTML Academy")
      .portfolio__item
        a(href="#", class="portfolio__link borodinski-logo")
          img(src="img/photo/borodinski.svg", alt="Логотип Borodinski")
      .portfolio__item
        a(href="#", class="portfolio__link pink-logo")
          img(src="img/photo/pink.svg", alt="Логотип Pink")
      .portfolio__item
        a(href="#", class="portfolio__link mishka-logo")
          img(src="img/photo/mishka.svg", alt="Логотип Mishka")
