.about-screen__grid {
  display: grid;
  grid-template-columns: auto 360px;
  gap: 40px;
  justify-content: space-between;
  padding: 80px 0;
}

.info__title {
  margin-top: 0;
  margin-bottom: 40px;
  color: $text-color;
  font-weight: 500;
  font-size: 45px;
  line-height: 40px;
}

@media (max-width: 1095px) {
  .info__title br {
    display: none;
  }
}

.info__legend {
  margin-top: 0;
  margin-bottom: 40px;
  color: $text-color-dark;
  font-size: 16px;
  line-height: 24px;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 24px;
  color: $text-color-dark;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.advantages__list {
  margin-top: 0;
  padding-left: 0;
}

.advantages__item {
  margin-top: 0;
  margin-bottom: 24px;
  color: $text-color-dark;
  font-size: 16px;
  line-height: 23px;
  list-style: none;
}

.advantages__item::before {
  padding-right: 9px;
  color: $button-background;
  font-size: 26px;
  line-height: 0;
  content: "—";
}

.numbers__illustation {
  position: relative;
  width: 100%;
  height: 208px;
}

.numbers__illustation img {
  position: absolute;
  top: -40px;
}

.numbers__legend-block {
  margin-bottom: 30px;
}

.numbers__legend {
  margin-top: 0;
  margin-bottom: 0;
  color: $text-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

.numbers__blocks {
  display: flex;
  gap: 19px;
  justify-content: flex-start;
}

.numbers__item {
  width: 100px;
}

.number-head {
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  color: $text-color;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.number-head::after {
  position: absolute;
  top: 24px;
  color: $text-color;
  font-weight: bold;
  font-size: 30px;
  line-height: 0;
  content: "%";
}

.number-description {
  margin: 0;
  color: $text-color-dark;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: $table-width) {
  .about-screen__grid {
    display: block;
  }

  .about-screen__info {
    margin-bottom: 40px;
  }

  .info__title {
    margin-bottom: 40px;
    line-height: normal;
  }

  .about-screen__numbers {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .numbers__legend-block {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .numbers__blocks {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .numbers__illustation {
    position: inherit;
    grid-row: 1 / 2;
  }

  .numbers__illustation img {
    position: inherit;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: $mobile-width) {
  .about-screen__numbers {
    display: block;
    text-align: center;
  }

  .about-screen__info {
    text-align: center;
  }

  .numbers__illustation {
    margin-bottom: 20px;
  }

  .numbers__blocks {
    flex-direction: column;
    align-items: center;
  }
}
