section.about-screen
  h2.visually-hidden О компании
  .container
    .about-screen__grid
      .about-screen__info
        p.info__title Мы – маленькая, но гордая<br> дизайн-студия из Краснодара.
        p.info__legend Исповедуем принципы минимализма и чистоты. Ставим математический расчет<br> превыше креатива. Работаем не покладая рук, как роботы.
        .info__advantages
          p.advantages__title Выполняем заказы на разработку:
          ul.advantages__list
            li.advantages__item Веб-сайтов любой сложности
            li.advantages__item Мобильных приложений для iOS и Android
            li.advantages__item Слайдшоу и видео для корпоративных презентаций
      .about-screen__numbers
        .numbers__illustation
          <picture>
            <source srcset="img/photo/numbers-logo-illustration.avif" type="image/avif">
            <source srcset="img/photo/numbers-logo-illustration.webp" type="image/webp">
            <source srcset="img/photo/numbers-logo-illustration.jpg" type="image/jpg">
            <img src="img/photo/numbers-logo-illustration.jpg" alt="Логотип иллюстация">
          </picture>
        .numbers__content
          .numbers__legend-block
            p.numbers__legend с 2004 года Любим точность во всем:
          .numbers__blocks
            .numbers__item
              p.number-head 146
              p.number-description Уровень<br> самоотдачи
            .numbers__item
              p.number-head 100
              p.number-description Соблюдение<br> сроков
            .numbers__item
              p.number-head 50
              p.number-description Минимальная<br> предоплата
