header.header
  .container
    .header__grid
      .header__logo
        a(href="index.html")
          img(src="img/nerds-logo.svg", alt="Логотип")
      .header__button-toggle-block
        button(class="header__button-toggle menu-icon" id="header__button-toggle" type="button" onclick="headerMenuToggle()")
      .header__menu#header__menu
        .header__navigation
          ul.navigation-list
            li.navigation-item
              a(href="index.html" class="navigation-link") Студия
            li.navigation-item
              a(href="#" class="navigation-link") Клиенты
            li.navigation-item
              a(href="#" class="navigation-link") Магазин
            li.navigation-item
              a(href="#" class="navigation-link") Контакты
        .header__shopping-cart-block
          button.shopping-cart-button
            img(class="shopping-cart-icon", src="img/icons/cart-icon.svg", alt="Корзина")
            | Корзина
