header.header#header
  .container
    .header__logo
      a(href="index.html")
        img(width="160", height="65", src="img/nerds-logo.svg", alt="Логотип")
    .header__button-toggle
      button.toggle-close
        <svg class="burger-icon" width="32" height="32" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
          <path d="M7.94977 11.9498H39.9498" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M7.94977 23.9498H39.9498" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M7.94977 35.9498H39.9498" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg class="close-icon" width="32" height="32" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.3299 10.5005L20.7072 3.12321C21.0963 2.7317 21.0963 2.09952 20.7072 1.70801L19.292 0.291799C18.9005 -0.0972665 18.2683 -0.0972665 17.8768 0.291799L10.4995 7.67009L3.12221 0.2928C2.7307 -0.0962657 2.09852 -0.0962657 1.70701 0.2928L0.291799 1.70801C-0.0972665 2.09952 -0.0972665 2.7317 0.291799 3.12321L7.66909 10.5005L0.291799 17.8778C-0.0972665 18.2693 -0.0972665 18.9015 0.291799 19.293L1.70801 20.7082C2.09952 21.0973 2.7317 21.0973 3.12321 20.7082L10.5005 13.3309L17.8778 20.7082C18.2693 21.0973 18.9015 21.0973 19.293 20.7082L20.7082 19.293C21.0973 18.9015 21.0973 18.2693 20.7082 17.8778L13.3299 10.5005Z" fill="black"/>
        </svg>
    .header__navigation
      ul
        li.navigation-item
          a(href="index.html", class="navigation-link", id="indexLink") Студия
        li.navigation-item
          a(href="#", class="navigation-link") Клиенты
        li.navigation-item
          a(href="catalog.html", class="navigation-link", id="catalogLink") Магазин
        li.navigation-item
          a(href="#", class="navigation-link") Контакты
    .header__shopping-cart
      button.shopping-cart-button
        img(class="shopping-cart-icon", src="img/icons/cart-icon.svg", alt="Корзина")
        | Корзина
