.header {
  background-color: $background-color;
}

.header__grid {
  display: grid;
  grid-template-columns: 160px auto;
}

.header__logo {
  display: flex;
  align-items: flex-end;
  height: 114px;
}

.header__logo a {
  height: 66px;
  line-height: 0;

  &:focus {
    opacity: 0.3;
  }
}

.header__button-toggle-block {
  display: none;
}

.header__button-toggle {
  width: 30px;
  height: 21px;
  padding-bottom: 0;
  background-color: inherit;
  border: 0;
}

.menu-icon {
  background-image: url("../img/icons/menu-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.close-icon {
  background-image: url("../img/icons/menu-icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__menu {
  display: grid;
  grid-template-columns: auto 160px;
  align-items: flex-end;
}

.header__navigation {
  display: flex;
  justify-content: center;
}

.navigation-list {
  list-style: none;
}

.navigation-item {
  display: inline-block;
}

.navigation-item + .navigation-item {
  margin-left: 46px;
}

.navigation-link {
  position: relative;
  color: $text-color;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }

  &:focus {
    color: $link-focus-color;
  }
}

.active-link::before {
  position: absolute;
  top: 33px;
  width: 100%;
  height: 2px;
  background-color: $link-hover-color;
  content: "";
}

.header__shopping-cart-block {
  display: flex;
  justify-content: flex-end;
}

.shopping-cart-button {
  position: relative;
  margin-bottom: 16px;
  color: $text-color;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  background-color: inherit;
  border: 0;
  cursor: pointer;

  &:hover {
    color: $link-hover-color;
  }

  &:focus {
    color: $link-focus-color;
  }
}

.shopping-cart-icon {
  margin-right: 26px;
}

@media (max-width: $table-width) {
  .header__button-toggle-block {
    display: flex;
    justify-content: flex-end;
    padding-top: 56px;
  }

  .header__grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 160px auto;
  }

  .header__logo {
    align-items: center;
    height: 114px;
  }

  .header__navigation {
    display: flex;
    justify-content: flex-start;
  }

  .active-link::before {
    top: 21px;
  }

  .header__menu {
    display: none;
  }

  .open-menu {
    display: grid;
    grid-column: 1 / 3;
    animation: open-animation 1s ease-in-out forwards;
  }

  @keyframes open-animation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .navigation-list {
    padding: 0;
  }

  .navigation-item {
    display: inline;
    margin-bottom: 16px;
  }

  .navigation-item + .navigation-item {
    margin-left: 24px;
  }

  .header__shopping-cart-block {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 16px;
  }

  .shopping-cart-button {
    margin: 0;
    padding: 0;
  }

  .shopping-cart-icon {
    margin-right: 10px;
  }
}

@media (max-width: $mobile-width) {
  .header__navigation {
    display: flex;
    justify-content: flex-start;
  }

  .navigation-item {
    display: block;
    margin-bottom: 16px;
  }

  .navigation-item + .navigation-item {
    margin-left: 0;
  }

  .open-menu {
    display: block;
  }

  .navigation-list {
    margin: 0;
    padding: 0;
  }

  .active-link::before {
    top: 21px;
  }

  .header__shopping-cart-block {
    display: block;
  }
}
